* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #a96aec;
}

.fundo {
    width: 660px;
    margin: 0 auto;
    padding-top: 1px;
    background-color: rgb(124, 28, 148);
}

.flex {
    display: flex;
}

.amarelo {
    background-color: rgb(36, 134, 199);
    padding: 75px;
    margin: 10px;
}

.alongar {
    padding-right: 300px;
}

.alongarCurto {
    padding-right: 100px;
}

.esticar{
    padding-bottom: 406px;
}

.esticarMenor{
    padding-bottom: 200px;
}

.esticarMedio{
    padding-bottom: 250px;
}


.bloco5Ex6{
    padding-bottom: 82px;
}


.invisivel{
    background-color: rgb(124, 28, 148);
    padding: 70px;
    margin: 19px;
}


.bloco1Ex8{
    padding: 80px;
}

.esticarGrande{
    padding-bottom: 450px;
}
